body {background-image: url("http://atomfund.co/images/atomlogo.png"); height: 100%;}
big {color: white; font-size: 3vw}
table {padding: 0; margin: 0; width: 100%;}
tr {padding: 0; margin: 0; height: 1vw;}
td {width: 4vw; height: 4vw; padding: 0; margin: 0; min-width: 2vw; vertical-align: top; font-size: 1vw;}
div {padding: 0; margin: 0;}
p {font-size: 1vw}
.lanthmot {font-size: 2vw;}
.actimot {font-size: 2vw;}
.nonmetal {background-color: #9AA03C; left: 0; right: 0; border-style: double; border-color: black; border-size: 1px;}
.noblegas {background-color: #870E10; border-style: double; border-color: black; border-size: 1px;}
.alkmetal {background-color: #414580; border-style: double; border-color: black; border-size: 1px;}
.alkearth {background-color: #4569A8; border-style: double; border-color: black; border-size: 1px;}
.transmetal {background-color: #187BD1; border-style: double; border-color: black; border-size: 1px;}
.halogen {background-color: #A9662A; border-style: double; border-color: black; border-size: 1px;}
.semimetal {background-color: #1A8462; border-style: double; border-color: black; border-size: 1px;}
.basicmetal {background-color: #1984AD; border-style: double; border-color: black; border-size: 1px;}
.lanthanide {background-color: #A86B9E; border-style: double; border-color: black; border-size: 1px;}
.actinide {background-color: #B42B5B;border-style: double; border-color: black; border-size: 1px;}
.nom {text-align: center; vertical-align: center; padding-top: 1.5vw;}
.atnum {text-align: left; padding: 0; padding-left: 0.0vw; margin: 0px; color: white; padding-top: 0.10vw;}
.size {text-align: right; padding: 0; padding-right: 0.5vw; margin: 0px; height: 0.10vw; color: white;}