div {
	display: inline-block;
}



p {
	margin-top: 10px;
	font-family: Arial, sans-serif;
	margin-left: 10px;
	font-size: 15px;
	letter-spacing: 1px;
}
.shadow {
	box-shadow: 10px 10px 15px 000000;
}

.leftboximages {
	display: block;
	width: 50%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;

}

.rightboximages {
	display: block;
	width: 50%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;

}

#all {
	display: inline-block;
	background-color: #505050;
}

#outer {
	min-width: 1895px;
	max-width: 1895px;

}

#topbox {
	width: 1420px;
	margin-top: 18px;
	margin-right: auto;
	margin-left: 235px;
	min-width: 1420px;
	max-width: 1420px;
	background-color: #909090;
	border-radius: 10px;
	height: 137px;
}

#dayof42 {
	height: 137px;
	width: 426px;
}

#dayimage {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 110px;
	width: 426px;
	float: left;
}

#magimage {
	float: right;
	margin-top: 15px;
	margin-right: 5px;
	margin-bottom: -50px;
}

#openclose {
	width: 25px;
	height: 137px;
	float: right;
}

#reloadimage {
	padding-top: 10px;
	padding-right: 10px;
	float: right;
	width: 20px;
}

#closeimage {
	float: right;
	width: 20px;
	padding-right: 10px;
	padding-top: 80px;
}

#dayimageexact {
	vertical-align: middle;
	height: 100px;
}

#centerboxes {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

#leftbox {
	height: 425px;
	width: 140px;
	padding-top: 30px;
	background-color: #909090;
	border-radius: 10px;
	float: left;
	margin-left: 265px;
}

#eyeborder {
	border: 5px solid red;
    border-radius: 5px;
}

#centerbox {
	background-color: #909090;
	border-radius: 10px;
	height: 582px;
	width: 1020px;
	margin-left: 30px;
    margin-right: auto;
}

#clusterimage {
	height: 562px;
	width: 1000px;
	margin-top: 10px;
	margin-left: 10px;
}

#rightbox {
	height: 425px;
	width: 140px;
	padding-top: 30px;
	background-color: #909090;
	border-radius: 10px;
	float: right;
	margin-left: 30px;
    margin-right: auto;
}

#bottombox {
	width: 1510px;
    margin-left: auto;
    margin-right: auto;
    height: 169px;
    position: static;
    display: block-line-height;
}

#greenbox {
	height: 170px;
	width: 520px;
	margin-left: 190px;
	z-index: 2;
	margin-top: -85px;
	background-color: #88FF89;
	border-radius: 10px;
	position: absolute;
}

#enter {
	font-size: 30px;
}

#computer {
	text-shadow: 7px 4px 3px rgba(255,0,0,0.6);
	display: inline-block;
}

#entryform {
	position: absolute;
	margin-top: -15px;
}

#textentry {
	box-shadow: 0px 0px 0px 000000;
}













