.dayof42 {
	height: 137px;
	width: 1420px;
	background-color: #909090;
	text-align: center;
}

#dayimage {
	height: 137px;
	width: 1420px;
	text-align: left;
	vertical-align: middle;

}

#dayimageexact {
	vertical-align: middle;
	height: 100px;
}